body{
  background-image: url(img/background/bg1.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position-y: center;
  padding: 3em;
}
.characterScreen{
  height: 35vw;
  display: flex;
  justify-content: center;
}
.characterScreen img{
  max-height: 45vw;
}
.text{
  font-size: 2vw;
  word-spacing: 0.2em;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  border-bottom: 1vw solid #3d3d3d;
  position: relative;
  line-height: 1.2em;
}
.corner{
  position: absolute;
  width: 5vw;
  right: 2vw;
  bottom: 0;
  transform: translateY(80%);
}
.text span{
  opacity: 0;
}

.text span.revealed{
  opacity: 1;
}

.text span.green{
  color: green;
}
.text span.red{
  color: red;
  font-style: bold;
}